<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
<h1>Transfer a file</h1>
<div id="status"></div>
<div id="complete"></div>
<div id="errors"><ul></ul></div>
<iframe style="width:0px;height:0px;border:0px solid #FFF;" id="formframe" name="formframe" src=""></iframe>
<iframe style="width:0px;height:0px;border:0px solid #FFF;" id="statusframe" name="statusframe" src=""></iframe>
<form id="theform" action="/upload?uuid=<%= uuid %>" method="post" enctype="multipart/form-data">
	<input type="file" name="upload-file">
	<input type="submit" value="Upload">
</form>
<br>
<div id="download">
</div>
<script>
$(document).ready(function(){
	$('form#theform').submit(function() {
		$('div#status').html('<h3>Uploading ' + $(this).find('input[type=file]').val() + '</h3>');
		$(this).attr('target', 'formframe').attr('action', $(this).attr('action')).hide();
		$('div#download').html('<br/>Use this URL to download file: ' +
			window.location.protocol + '//' + window.location.host + '/get?uuid=<%= uuid %>' +
			'<br/>The upload will continue once downloading starts.');
	});
	$('div#errors ul').ajaxError(function(e, xhr, settings, error) {
		/*
		console.log(e);
		console.log(xhr);
		console.log(settings);
		console.log(error);
		*/
		$(this).append('<li>Error requesting page ' + settings.url + ': ' + error + '</li>');
	});
	var updateStatus = function() {
		setTimeout(function() {
			$.getJSON('/watch?uuid=<%= uuid %>', function(data) {
				var msg = data.bytes + ' bytes transfered.';
				if (data.error) {
					$('div#status').html('<h3>Transfer failed</h3>');
					msg += ' ' + data.error;
				} else if (data.complete) {
					$('div#download').html('<a href="/">Transfer another?</a>');
					$('div#status').html('<h3>Transfer complete</h3>');
				} else if (!data.downloading) {
					msg += ' No downloader yet.';
					updateStatus();
				} else {
					updateStatus();
				}
				$('div#complete').html(msg);
			});
		}, 100);
	};
	updateStatus();
});
</script>
</body>
</html>
