<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
<span style="color:#000000; letter-spacing:-2px; font:26px/28px Arial, Helvetica, sans-serif;">TRANSFER</span><span style="color:#ff0000; letter-spacing:-1px; font:bold 26px/28px Arial, Helvetica, sans-serif;">ER</span>

<h3>Download a file</h3>
<div id="status"></div>
<div id="complete"></div>
<div id="errors"><ul></ul></div>
<iframe style="width:0px;height:0px;border:0px solid #FFF;" id="downloadframe" name="downloadframe" src=""></iframe>
<br>
<a id="startDownload" href="/get?uuid=<%= uuid %>">Download</a>
<br>
<div id="download">
</div>
<script>
$(document).ready(function(){
	$('a#startDownload').click(function() {
		$(this).hide();
		$('iframe#downloadframe').attr('src', '/get?uuid=<%= uuid %>');
		if (! window.location.search) {
			$('div#download').html('<br/>Send this URL to the uploader: <br/>' +
				'<b>' + window.location.protocol + '//' + window.location.host + '/?uuid=<%= uuid %>' + '</b><br/>' +
				'(or try this: <b>curl -F upload-file=@/path/to/a/file ' + window.location.protocol + '//' + window.location.host + '/upload?uuid=<%= uuid %>' + '</b>)<br/>' +
				'<br/>The download will continue once uploading starts.');
		}
		return false;
	});
	$('div#errors ul').ajaxError(function(e, xhr, settings, error) {
		/*
		console.log(e);
		console.log(xhr);
		console.log(settings);
		console.log(error);
		*/
		$(this).append('<li>Error requesting page ' + settings.url + ': ' + error + '</li>');
	});
	var updateStatus = function() {
		setTimeout(function() {
			$.getJSON('/watch?uuid=<%= uuid %>', function(data) {
				var msg = data.bytes + ' bytes transfered.';
				if (data.error) {
					$('div#status').html('<h3>Transfer failed</h3>');
					msg += ' ' + data.error;
				} else if (data.complete) {
					$('div#download').html('<a href="/">Transfer another?</a>');
					$('div#status').html('<h3>Transfer complete</h3>');
				} else if (!data.downloading) {
					msg += ' No downloader yet.';
					updateStatus();
				} else {
					updateStatus();
				}
				$('div#complete').html(msg);
			});
		}, 100);
	};
	updateStatus();
});
</script>
</body>
</html>

